@inject EducationProject.MVC.Managers.SignInManager SignInManager

<div class="navbar-nav">
    @if (SignInManager.IsSignedIn())
    {
        <div class="btn-group">
            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Account" asp-action="Profile" title="Profile"><i class="fa fa-user"></i> Profile</a>
        </div>
        <a class="nav-item nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout" title="Logout">Logout</a>
    }
    else
    {
        <a class="nav-item nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        <a class="nav-item nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    }
</div>
