<form method="post" asp-controller="Material" asp-action="CreateArticle" class="mt-5 text-center justify-content-center">
    <div class="form-group m-1">
        <label  class="d-block">Title</label>
        <input type="text" name="Title" required/>
    </div>
    <div class="form-group m-1">
        <label  class="d-block">Description</label>
        <textarea name="Description" rows="3" required></textarea>
    </div>
    <div class="form-group m-1">
        <label  class="d-block">Date published</label>
        <input type="date" id="start" name="PublishedDate"
               value="2018-07-22" required>
    </div>
    <div class="form-group m-1">
        <label class="d-block">Source URL</label>
        <input type="text" name="SourceUrl" required/>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>